%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, as: resource_name,
  url: registration_path(resource_name),
  html: {class: 'form-horizontal', method: :put}) do |f|
  = devise_error_messages!
  = f.input :email
  = f.input :password, hint: "(leave blank if you don't want to change it)"
  = f.input :password_confirmation
  = f.input :current_password,
    hint: "(we need your current password to confirm your changes)"
  Choose your current address
  = f.collection_radio_buttons(:current_address_id, current_user.addresses, :id, :info)
  -#= link_to "Edit address", edit_address_path(@address), class: 'edit_address'
  = link_to "Show addresses", addresses_path, class: 'edit_address'
  = link_to 'Add address', new_address_path, id: 'add_address'
  = f.button :submit

%h3 Cancel my account
%p
  Unhappy?
  = link_to "Cancel my account", registration_path(resource_name),
    data: { confirm: "Are you sure?" }, method: :delete
= link_to "Back", :back
