%h2 Sign up
= simple_form_for(@user, validate: true,
    url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :full_name, validate: true
  = f.input :email, validate: true
  = f.input :password, validate: true
  = f.input :password_confirmation, validate: true
  = f.button :submit
= render "devise/shared/links"
