= simple_form_for(@order) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, size: 40
    = f.input :address
    = f.input :email
    = f.input :pay_type
  .form-actions
    = f.button :submit
