%h1 New order
.span4
  - if user_signed_in?
  - else
    If you are a regular customer, please login
    %a.xhr#login_show_toggle toggle login form
    #user_login
      = render 'devise/sessions/form'
    #address_form
      = simple_form_for @address do |builder|
        = render 'addresses/address_fields', f: builder
  = render 'form'
  = link_to 'Back', :back
.span8
  .cartItems= render @cart.line_items.includes(:product)
  .totalCost= number_to_currency(@cart.total_price)
