%h1 New order
.span4
  - unless user_signed_in?
    If you are a regular customer, please login
    %a.xhr#login_show_toggle toggle login form
    #user_login
      = render 'devise/sessions/form'
  #order_form
    = simple_form_for(@order, validate: true) do |f|
      = f.error_notification
      - if user_signed_in?
        = f.collection_radio_buttons(:address_id, current_user.addresses, :id, :info)
      - else
        = f.simple_fields_for :address do |builder|
          = render 'addresses/address_fields', f: builder
      = f.input :pay_type, collection: Order::PAYMENT_TYPES,
        include_blank: false
      = f.input :shipping_type, collection: Order::SHIPPING_TYPES,
        include_blank: false
      = f.input :comment
      = f.button :submit, "Confirm order", id: 'submit_order'
  = link_to 'Back', :back
.span8
  .cartItems= render @cart.line_items.includes(:product)
  .totalCost= number_to_currency(@cart.total_price)
