<p id="notice"><%= notice %></p>
<%=
  render 'layouts/categories'
%>
<h1>
  <%= @category.name %>
</h1>
<table>
  <%= render @products %>
</table>
<%= will_paginate @products %>
<%= link_to 'Edit', edit_category_path(@category) if current_user.try(:admin?)%> 
<%= link_to 'Back', categories_path %>
