%tr
  %td.productImage= image_tag product.image_url
  %td
    .stars-rating{style: stars_image(product.rating)}
    %dl
      %dt= link_to product.title, product
      %dd= product.description
  %td= number_to_currency(product.price)
  %td= button_to 'Buy', line_items_path(product_id: product.id), remote: true,
    class: "btn"
