.span9
  %h1= header
  %span.pull-right
    = form_tag products_path, method: :get, class: 'form-horizontal' do
      = @products.per_page_select_options(params[:per_page])
      = @products.checkbox_for_endless_page(params[:endless])
      = @products.submit_filtering

  %table#products.table.table-bordered.table-hover
    = render @products
  = will_paginate @products
