%tr.product
  %td.productImage= product.image
  %td
    .productRating= product.stars_rating
    %dl
      %dt= product.link_to_product
      %dd= product.description
  %td= product.price
  %td= product.add_to_cart_button
