.span9
  %h1= header
  %span.pull-right
    = form_tag products_path, method: :get do
      = select_tag "per_page", options_for_select(['10', '20', 'all'])
      = submit_tag "Filter", class: 'btn'

  %table#products.table.table-bordered.table-hover
    = render @products
  = will_paginate @products
