%h2 Leave your review
= simple_form_for [@product, @review], html: { class: 'form-horizontal' }, validate: true do |f|
  - if @review_errors.present?
    #errorExplanation
      %h2
        = pluralize(@review_errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @review_errors.each do |msg|
          %li= msg
  - 1.upto(5).each do |n|
    = f.radio_button :rating, n, class: 'star required'
  = f.input :comment
  = f.submit
